[submodule "src/pacman"]
	path = src/pacman
	url = https://gitlab.archlinux.org/pacman/pacman.git
[submodule "inc/expac"]
	path = src/expac
	url = https://github.com/falconindy/expac.git
[submodule "inc/pacutils"]
	path = src/pacutils
	url = https://github.com/andrewgregory/pacutils.git
