/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib
/authors

/carton.lock
/.carton/
/.carmel/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE
/_build_params
MYMETA.*
/App-BS-*

*.toml
!config.toml.example
._*
.DS_Store
.vscode/

*.sqlite3

/.build
/_build*
/Build
/_Inline
MYMETA.*
!META.json
/.prove
/vendor
.perl-version

